<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Teachers List</h1>
    {% for course in courses  %}
    {{course.name}}
    <a href="{% url "panel" courseId=course.id %}"><button>Teacher admin panel</button></a>

    {% endfor %}
    

    <ul>
        {% for teacher in teachers %}
            <li>
                {{ teacher.name }}
                <a href="{% url 'teacher_profile' teacher_id=teacher.id %}"><button>View Profile</button></a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
